@import "tailwindcss";



@theme {
  --color-primary-50: #FEF1F9;
  --color-primary-100: #FEE5F5;
  --color-primary-200: #FECCEC;
  --color-primary-300: #FFA2DD;
  --color-primary-400: #FE68C2;
  --color-primary-500: #F83CA8;
  --color-primary-600: #E81785;
  --color-primary-700: #CA0C6B;
  --color-primary-800: #A70D58;
  --color-primary-900: #8B104B;
  --color-primary-950: #55022A;
  --color-body-color: #472438;
  --color-white: #fff;
  --color-warning: #ff2323;
}